:root {
    /* pallete 1 */
    --green1: #D8F3DC;
    --green2: #B7E4C7;
    --green3: #95D5B2;
    --green4: #74C69D;
    --green5: #52B788;
    --green6: #40916C;
    --green7: #2D6A4F;
    --green8: #1B4332;
    --green9: #081C15;
    /* pallete 2 */
    --beige: #FFF2CC;
    --yellow: #FFD966;
    --light-peach: #F4B183;
    --peach: #DFA67B;

    /* palette 3 */
    --red-support: #00bf26;
    --grey-settings: #D8E9F0;
    --blue-privacy: #4AA0D5;
    /* sizes */
    --svg-width: clamp(24px, 2vw, 48px);
    --svg-height: auto;

}

* {
    color: rgb(40, 40, 40);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    background: none;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: "sidebar header"
        "sidebar main";
    background-color: rgb(209, 209, 209);
}


/* Sidebar MENU */

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #D14D72;
    z-index: 0;

}

svg {
    width: var(--svg-width);
    height: var(--svg-height);
}

svg,
#history * {
    fill: var(--beige);
}

#history * {
    stroke: var(--beige);
}

/* LOGO */
.sidebarLogo {
    display: grid;
    place-items: center;
}

/* mainList */
.titleSidebar {
    font-size: clamp(20px, 2vw, 26px);
    color: #FFF2CC;
    font-weight: 300;
    letter-spacing: 2px;

}

a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px !important;
    cursor: pointer;

}

.sidebarLogo,
a {
    padding: 10px;

}

.sidebarLogo,
.mainList {
    margin-bottom: 20px;
}

/* secondList colors */
#settings {
    fill: var(--grey-settings);
}

.settings {
    color: var(--grey-settings);
}

#support {
    fill: var(--red-support);
}

.support {
    color: var(--red-support);
}

#privacy {
    fill: var(--blue-privacy);
}

.privacy {
    color: var(--blue-privacy);
}


/* Hover & Active */
a:hover{
    background-color: var(--peach);
}
a:active{
    background-color: var(--light-peach);
}
.settingsLink:hover{
    background-color: rgb(177, 177, 177);
}
.settingsLink:active{
    background-color: rgb(198, 198, 198);
}

.privacyLink:hover{
    background-color: #3a779d;
}
.privacyLink:active{
    background-color: #3f8ab8;
}
.supportLink:hover{
    background-color: #136724;
}
.supportLink:active{
    background-color: #19842e;
}
/* HEADER */

header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: minmax(150px, 2fr) minmax(75px, 1fr);
    z-index: 1;
    padding: 10px;

}


.searchForm {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-left: 10px;

}

.formContainer {
    padding: 10px;
}

input {
    flex: 0 1 350px;
    border: 2px solid #D14D72;
    height: 30px;
    border-radius: 30px;
}

input::placeholder {
    padding: 10px;
    color: #D14D72;
    opacity: .7;
}

.profilePic {
    width: calc(var(--svg-width) + 10px);
    border-radius: 50%;
}

button svg {
    fill: #D14D72;
}


.profileMenu {
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 1fr))minmax(110px, 1fr);
    gap: 10px;
    place-items: center;
    padding-right: 30px;
}

.profileSalute {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 90px minmax(100px, 3fr);
    padding: 10px;
    padding-left: 25px;

}

.profilePic.two {
    width: 7vh;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titleHello {
    font-size: 1rem;
}

.titleName {
    font-size: 1.4rem;
}

.projectMenu {
    display: grid;
    place-items: center;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.projectMenu button {
    background-color: #D14D72;
    color: var(--beige);
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 90px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    gap: 2rem;
}

.mainTitle, .newsTitle{
    font-size: clamp(23px, 3vw, 35px);
    padding: 10px;
    padding-left: 25px;
    font-weight: 400;

}

/* PROYECTOS */
.projectContainer {
    padding: 10px;
    padding-left: 25px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.projectItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: clamp(110px, 40vw, 120px);
    gap: 1rem;

    padding: 20px;
    background-color: white;
    border: 2px solid var(--yellow);

    border-radius: 12px;
    border-left: 14px solid var(--yellow);
}

.projectTitle {
    font-size: clamp(22px, 3vw, 24px);
    font-weight: 500;
    padding-bottom: 10px;

}

.projectMenuInteract ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

.projectText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    height: 115px;
}

li img {
    width: clamp(22px, 2vw, 24px);
}

/* NOTICIAS */

.newsTitle {
    padding: 10px;
    padding-bottom: 20px;
}

.announcements {
    background-color: white;
    padding: 20px;
    border: 2px solid var(--yellow);
    border-radius: 12px;
    margin-right: 10px;
    
}
.announcements ul{
    display: grid;
    gap: 20px;
}
.announcements ul li{
    border-bottom: 1px solid rgba(157, 157, 157, 0.452);
    padding-bottom: 20px;
}
.announcements ul li:last-child{
    border: none;
    padding-bottom: 10px;
}
.announcements div h2 {
    font-size: clamp(18px, 3vw, 20px);
    font-weight: 500;
    padding-bottom: 10px;
}

.announcements div{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 61px;
}

.trending {
    border: 2px solid var(--yellow);
    border-radius: 12px;
    background-color: white;    
    margin-right: 10px;
    padding: 20px;
}
.tren{
    padding-top: 20px;
}
.trending ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.trending ul li{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom:1px solid rgba(157, 157, 157, 0.452);
    padding-bottom: 15px;
}
.trending ul li div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trending ul li:last-child{
    padding-bottom: 0;
    border: none;
}